input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input::-webkit-input-placeholder {
    color: #bdbdd3;
}

input:-moz-placeholder {
    color: #bdbdd3;
}

input::-moz-placeholder {
    color: #bdbdd3;
}

input:-ms-input-placeholder {
    color: #bdbdd3;
}

textarea::-webkit-input-placeholder {
    color: #bdbdd3;
}

textarea:-moz-placeholder {
    color: #bdbdd3;
}

textarea::-moz-placeholder {
    color: #bdbdd3;
}

textarea:-ms-input-placeholder {
    color: #bdbdd3;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.contact-container {
    width: 50%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: #f2f2f2;
}

.contact-container form,
.contact-container button {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-right: 7%;
}

.contact-container div.input {
    width: 50%;
    background-color: #fff;
    border-radius: 31px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.contact-container input,
.contact-container textarea {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
    height: 62px;
    padding: 0 0px 0 35px;
    box-shadow: 5px 2px 12px 0px #bdbdbd;
}

.contact-container textarea {
    min-height: 169px;
    padding: 19px 0px 0 35px;
}

.button button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 62px;
    background-color: transparent;
    border-radius: 31px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
}

.button button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #fcad64;
    pointer-events: none;
    transition: all 0.4s;
}

.button button:hover:before {
    background-color: #f08c2f;
    width: calc(100% + 20px);
}

.contact_header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-right: 18%;
    margin-top: 10%;
}

.contact_header h3 {
    color: #fcad64;
    font-size: 10em;
}

.contact_header p {
    width: 65%;
    color: gray;
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    margin-top: 15px;
}

hr {
    border: 0;
    display: block;
    height: 0;
    width: 150%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 50px 20% 50px 0;
}

.box {
    width: 50%;
    height: 100vh;
    position: relative;
}

.box .circle {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: absolute;
    transform: translate(-50%, -50%);
}

.box .circle:nth-child(2) {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(0deg, rgba(219, 179, 247, 1) 0%, rgba(193, 204, 245, 1) 46%, rgba(173, 232, 242, 1) 100%);
    animation-name: bubble_animation1;
    top: 67%;
    left: 10%;
}

.box .circle:nth-child(3) {
    width: 575px;
    height: 575px;
    border-radius: 350px;
    background: linear-gradient(0deg, rgba(218, 155, 149, 1) 0%, rgba(255, 191, 148, 1) 46%, rgba(232, 216, 147, 1) 100%);
    animation-name: bubble_animation2;
    top: 28%;
    left: 40%;
}

.box .circle:nth-child(4) {
    width: 350px;
    height: 350px;
    border-radius: 250px;
    background: linear-gradient(0deg, rgba(219, 179, 247, 1) 0%, rgba(193, 204, 245, 1) 46%, rgba(173, 232, 242, 1) 100%);
    animation-name: bubble_animation1;
    top: 20%;
    left: 78%;
}

@keyframes bubble_animation1 {
    0% {
        transform: translate( 0%, -50px);
    }
    50% {
        transform: translate( -50px, 0%);
    }
    100% {
        transform: translate( 0%, -20px);
    }
}

@keyframes bubble_animation2 {
    0% {
        transform: translate(-25px, 0px);
    }
    50% {
        transform: translate( 0, -50px);
    }
    100% {
        transform: translate(-10px, 0);
    }
}

.box img {
    position: absolute;
    top: 55%;
    left: 68%;
    z-index: 5;
    transform: translate(-50%, -50%) scale(0.85);
    animation-name: bubble_animation2;
}