body {
    height: 100vh;
}

h1 {
    font-weight: bold;
    margin: 0;
}

.overlay-panel h1 {
    font-size: 5em;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #fcad64;
    background-color: #fcad64;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 50%;
    border-radius: 31px;
    box-shadow: 5px 2px 12px 0px #bdbdbd;
}

.global_container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.global_container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.global_container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.global_container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    /* site qui genere un bacground avec un degradé specifique*/
    background-image: radial-gradient(circle at 32% 72%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 61% 40%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 8%, transparent 8%, transparent 92%), radial-gradient(circle at 64% 48%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 37% 25%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 43% 50%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 80% 92%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 9% 7%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 6%, transparent 6%, transparent 94%), radial-gradient(circle at 12% 82%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 71% 65%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 7% 10%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 4%, transparent 4%, transparent 96%), radial-gradient(circle at 50% 25%, rgba(241, 232, 184, 0.1) 0%, rgba(241, 232, 184, 0.1) 4%, transparent 4%, transparent 96%), linear-gradient(90deg, rgb(249, 231, 132), rgb(229, 143, 101));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.global_container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateY(-20%);
}

.global_container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.global_container.right-panel-active .overlay-right {
    transform: translateY(20%);
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}