body {
    min-height: 100vh;
}

a {
    color: inherit;
}

.cards-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 25px auto;
    width: max-content;
    /* SOURCE LE DESIGNEUR DU WEB (YT)*/
}

.card {
    opacity: 0.7;
    height: 35vh;
    width: 20vw;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 0em 0em black;
    transition: all, 0.5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
}

.card h1 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2em;
}

.card p {
    font-size: 0.75em;
    margin-top: 0.5em;
    line-height: 2em;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.75em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 1.5em;
    transition: all, 0.5s;
}

.card:hover .tags .tag {
    background: #3c3163;
    color: white;
}

.card .price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    padding: 1em;
    line-height: 1em;
    opacity: 0.8;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, 0.5s;
    transition-timing-function: ease-in-out;
}

.card:before {
    background: #F9E784;
    width: 250%;
    height: 250%;
}

.card:after {
    background: #fcad64;
    width: 200%;
    height: 200%;
}

.card:hover {
    color: #3c3163;
}

.card:hover:before,
.card:hover:after {
    transform: scale(1);
}

.card-grid-space .num {
    font-size: 3em;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}

.info {
    font-size: 1.2em;
    display: flex;
    padding: 1em 3em;
    height: 3em;
}

.info img {
    height: 3em;
    margin-right: 0.5em;
}

.info h1 {
    font-size: 1em;
    font-weight: normal;
}

.cards-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards-title h3 {
    color: #fcad64;
    font-size: 6em;
    margin-top: 10%;
}

hr {
    border: 0;
    display: block;
    height: 0;
    width: 55%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}