body {
    min-height: 100vh;
    background-color: white;
}

.container_global {
    margin: 0px auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    background: #fff;
    width: 75vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.15);
    display: flex;
}

.row {
    width: 100%;
}

.left {
    padding: 60px;
    border-bottom: 3px solid rgba(255, 165, 0, 0.1);
    float: left;
}

.left img {
    width: 19vw;
    margin-left: 12%;
}

.left .fa {
    cursor: pointer;
    position: absolute;
    top: 40px;
    color: #eaeaea;
    font-size: 18pt;
    transition: all .6s;
}

.left .fa:hover {
    color: #ADE8F2;
}

.left .fa-arrow-left {
    left: 40px;
    color: #fcad64;
}

.left .fa-arrow-right {
    right: 40px;
}

.right {
    border-left: 2px solid rgba(255, 165, 0, 0.1);
    padding: 40px;
    padding-bottom: 0;
    background: #f7f5f6;
    width: 50%;
    float: right;
}

.categorie {
    margin-top: 10px;
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: 300;
    color: #FF9800;
}

.product {
    font-size: 12pt;
    margin-top: 10px;
    font-weight: 500;
    color: #666;
}

.desc {
    margin-top: 20px;
    color: #777;
}

.desc li {
    font-size: 10pt;
    margin: 15px -5px;
}

.title-colour {
    margin-top: 25px;
    font-size: 13pt;
}

.color-black {
    display: inline-block;
    cursor: pointer;
    padding: 14px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
}

.color-white {
    cursor: pointer;
    display: inline-block;
    padding: 14px;
    background-color: #fff;
    color: #fff;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid #ddd;
}

.price {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 400;
    display: inline-flex;
}

.buy {
    display: inline-flex;
    position: absolute;
    right: 40px;
    bottom: 10px;
    background-color: #ffa501;
    padding: 14px 35px 12px 35px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .6s;
    border: 3px solid #ffa501;
    cursor: pointer;
}

.buy:hover {
    color: #ffa501;
    background-color: #fff;
}