.slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    height: 100vh;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 43px;
    margin: 15px 0 0 35px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
    transition: width 0.6s ease;
    position: relative;
    z-index: 10;
}

.dot:nth-child(1) {
    margin-top: 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

.active {
    width: 69px;
    height: 20px;
}

.container-dot {
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 0;
}

.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide1-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    top: 25vh;
    left: 57%;
}

.slide1-container h1 {
    font-size: 5vh;
}

.slide1-container p {
    margin-top: 10px;
    width: 25%;
    line-height: 2;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}

div.price {
    margin-top: 25px;
}

div.price h3 {
    font-size: 3vh;
}

div.price h3::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../images/Calque\ 2.png") no-repeat;
    background-size: 100%;
    vertical-align: sub;
    margin-right: 10px;
    position: relative;
    top: 25px;
}

.btn {
    padding: 20px;
    margin: 15px auto 0 50px;
    display: block;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fcad64;
    transition: all 0.5s ease;
}

.anim-btn {
    overflow: hidden;
}

.anim-btn span {
    color: #fcad64;
    display: inline-block;
    transition: all 0.3s ease;
    letter-spacing: 5px;
    font-weight: bold;
}

.anim-btn .icon {
    position: absolute;
    left: -60px;
    top: 0;
    color: white;
    padding: 20px;
    background-color: #fcad64;
    transition: all 0.3s ease;
}

.anim-btn:hover .icon {
    left: 0px;
}

.anim-btn:hover span {
    margin-left: 50px;
}

.tablette {
    width: 31%;
    position: relative;
    left: 22%;
    top: 0%;
    z-index: 6;
    cursor: pointer;
}

.slide2-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    top: 35%;
    left: 43%;
    width: fit-content;
}

.slide2-container h1 {
    font-weight: bold;
    font-size: 75px;
}

.slide2-container h3 {
    font-weight: 700;
    font-size: 25px;
    margin-top: -10px;
    color: gray;
}

.slide2-container p {
    margin-top: 35px;
    font-size: 2em;
}

.slide2-container button {
    padding: 10px 25px;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    padding-right: 20px;
    border: 2px solid #000;
}

.slide2-container button:before {
    position: absolute;
    content: " ";
    z-index: -1;
    width: 25%;
    top: 50%;
    left: -20%;
    height: 2px;
    background: #000;
    transition: all 0.3s ease;
}

.slide2-container button:hover {
    background: #000;
    color: #fff;
    border-color: transparent;
    padding-left: 25px;
    padding-right: 25px;
}

.slide2-container button:before {
    left: -15%;
}

.slide3-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    top: 75%;
    left: 70%;
}

.slide3-container h1 {
    color: white;
    font-weight: bold;
    font-size: 75px;
}

.slide3-container p {
    color: white;
    font-size: 17px;
    width: 25%;
}